.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  margin: auto;
  max-width: 1220px;
}

#menu {
  margin: 3rem auto;
}

@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
